Program/.vs/
Program/MHS.Contents/bin
Program/MHS.Contents/obj
Program/MHS.Core/bin
Program/MHS.Core/obj
Program/MHS.Game/bin
Program/MHS.Game/obj
Program/MHS.Player/bin
Program/MHS.Player/obj
Program/TestConsoleApp/bin
Program/TestConsoleApp/obj
